/*===================*/
/*     VARIABELS     */
/*===================*/

:root {
  /* Primary (gradiente) */
  --primary-start: #a2a6f1;
  --primary-end: #696ddd;
  --primary-gradient: linear-gradient(
    90deg,
    var(--primary-start),
    var(--primary-end)
  );

  --card-gradient: linear-gradient(
    to bottom,
    var(--primary-start),
    var(--primary-end)
  );

  /* Neutros */
  --blue-50: #f6f6fe;
  --gray-400: #BFBFCC;
  --gray-650: #6d708d;
  --gray-700: #494c5f;

  --font-primary: "Montserrat", Arial, Helvetica, sans-serif;
}

/*===================*/
/*       GERALS      */
/*===================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-height: 100dvh;
  font-family: var(--font-primary);
  font-size: 0.9375rem;
  font-weight: 700;
  background: url("/src/assets/images/bg-top.svg") no-repeat;
  background-size: 80%;
  background-position-y: -15%;
  background-position-x: 310%;
  background-color: var(--blue-50);
}

h1,
p {
  margin: 0;
}

/*===================*/
/*       HEADER      */
/*===================*/

.header-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 1rem 1rem;
}

.header-container .title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray-650);
  text-align: center;
}

.form-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0;
}

.form-check-label:nth-child(1) {
  margin-right: 2.75rem;
}

.form-check-label {
    color: var(--gray-650);
}

#switch {
    position: relative;
    height: 2.1rem;
    width: 3.65rem;
    background-image: var(--primary-gradient);
    border: none;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#switch:hover,
#switch:focus-within {
    opacity: 0.7;
}

#switch::before {
    --size: 1.55rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    content: "";
    margin: 0 0.25rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: white;
    transition: transform .2s ease-in-out;
}

#switch:checked::before {
    transform: translate(100%, -50%);
}


/*===================*/
/*        MAIN       */
/*===================*/

#main {
    width: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1.5rem 1.5rem 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem 1.5rem 1.5rem;
    border: none;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.125);
}

.card .title {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--gray-650);
}

.card:nth-child(2) {
    background-image: var(--card-gradient);
}

.card:nth-child(2) .title {
    color: white;
}

.card-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
}

.card-item {
    text-align: center;
    color: var(--gray-650);
    padding: 1rem 0;
    border-bottom: 1px solid var(--gray-400);
}

.card:nth-child(2) .card-item {
    color: white;
    border-bottom: 1px solid var(--primary-start);
}

.card-item-plan {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 2.75rem;
    color: var(--gray-700);
}

.card-item-plan .plan-value{
    font-size: 4rem;
}

.card:nth-child(2) .card-item-plan {
    color: white;
}

.btn-learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    border: 1px solid transparent;
    background-image: var(--primary-gradient);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn-learn-more:hover,
.btn-learn-more:focus {
    color: var(--primary-end);
    border-color: var(--gray-700);
    background: transparent;
}

.card:nth-child(2) .btn-learn-more {
    color: var(--primary-end);
    background: white;
}

.card:nth-child(2) .btn-learn-more:hover,
.card:nth-child(2) .btn-learn-more:focus {
    color: white;
    border-color: white;
    background: transparent;
}

/*===========================*/
/*   ---- ACESSIBILITY ----  */
/*===========================*/

@media (prefers-reduced-motion: reduce) {
    
    /*===================*/
    /*       HEADER      */
    /*===================*/

    #switch {
        transition: none;
    }

    #switch::before {
        transition: none;
    }

    /*===================*/
    /*        MAIN       */
    /*===================*/

    .btn-learn-more {
        transition: none;
    }

}

/*===========================*/
/*     ---- DESKTOP ----     */
/*===========================*/

@media (min-width: 60em) {

    /*===================*/
    /*       GERALS      */
    /*===================*/

    body {
        background: url("/src/assets/images/bg-top.svg") no-repeat, url('/src/assets/images/bg-bottom.svg') no-repeat;
        background-size: 40%, 30%;
        background-position-y: 0, bottom;
        background-position-x: 100%, left;
        gap: clamp(2.000rem, calc(-6.000rem + 10vw), 3.000rem);
    }

    /*===================*/
    /*       HEADER      */
    /*===================*/
    
    #header {
        flex-grow: 1;
    }

    .header-container {
        padding: clamp(4.000rem, calc(-12.000rem + 20vw), 6.000rem) 1rem 1rem;
    }

    /*===================*/
    /*        MAIN       */
    /*===================*/

    #main {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 5;
    }

    .main-container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        max-width: 70rem;
    }

    .card:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card:nth-child(2) {
        transform: scale(1.15);
        z-index: 10;
    }

    .card:nth-child(3) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

}